[Unit]
Description=Raspberry ZeroMQ demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Group=maxime
StandardOutput = file:/tmp/rasp0mq.log
ExecStart=/home/maxime/rasp0mq --%I

[Install]
WantedBy=multi-user.target
